.nav-link {
    font-size: 14px;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-link:hover .divider {
    transition: width 1s;
    transition-timing-function: ease;
}

.nav-link:hover .divider {
    width: 200px;
}

.profile-link {
    display: inline-block;
    position: relative;
}

.profile-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.github::after {
    background-color: rgb(202, 80, 202);
}

.linkedin::after {
    background-color: #0087ca;
}

.profile-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}