.project-card{
    background-color: #202022;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    z-index: 1000;
}

.project-card .project-stack {
    display: inline-block;
    position: relative;
}

.project-card .project-stack::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project-card:hover {
    box-shadow: rgba(0, 135, 202, 0.15) 0px 4px 24px;
    border-color: hsl(200, 45%, 24%);
    border-width: 1px;
}

.project-card:hover .project-stack::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}