.project-card {
    background-color: #202022;
    transition: all 0.3s ease;
}

.project-card:hover {
    background-color: #252527;
}

.project-card .project-stack {
    display: inline-block;
    position: relative;
}

.project-card .project-stack::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green.400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project-card:hover .project-stack::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}