.content-panel {
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-width: none;
}

@media screen and (max-width: 1032px) {
    
    .content-panel {
        overflow-y: visible;
        /* max-height: 100vh; */
        /* scrollbar-width: none; */
    }
}

